@media all and (max-width: 1000px) {
    .calculator {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .footer {
      font-size: 32px;
    }
}

@media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }

    .footer{
        font-size: 18px;
        padding-top: 5px;
    }
}

@media all and (max-width: 900px) {
        .lesson {
          width: 100%;
        }
    
        .footer{
            font-size: 18px;
        }
}