body {
    min-height: 100vh;
    font-size: 2.5vh;
    top: 15%;
    left: 40%;
    margin: 0 auto;
    background-color: #eaeaea;
    background-image: var(--gradient1);
    font-family: 'Staatliches', cursive;
    background-size: 200%;
    animation: gradient-animation 5s infinite alternate;
}
:root {
    --gradient1 : linear-gradient(90deg, rgba(134,189,162,1) 15%, rgba(237,223,179,1) 94%);
    --gradient2 : linear-gradient(to right, black, rgb(97, 97, 97) );
}

@keyframes gradient-animation{
    0% {
        background-position: left;
    }

    100%{
        background-position: right;
    }

}

h1 {
    color: white;
    font-weight: lighter;
    text-align: center;
    margin: 0;
}

#calculator {
    background-color: #eaeaea;
    background-image: var(--gradient2);
    background-size: 200%;
    animation: gradient-animation 5s infinite alternate;
    width: auto;
    height: auto;
    padding: 1.5vh;
    border: 5px solid #CA955C;
    border-radius: 15px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box {
    font-family: 'Staatliches', cursive;
    text-align:right;
    font-size: 2.8vh;
    height: 3vh;
    line-height: 3vh;
    padding: 1em;
    border: 2px solid #CA955C;
    color: white;
    border-radius: 15px;
    background-color: transparent;
}

#last_operation_history {
    font-family: 'Staatliches', cursive;
    height: 1.8vh;
    font-size: 1.8vh;
    text-align:right;
    padding-right: 1.5vh;
    color: rgb(158, 158, 158);
    background-color: transparent;
}

button {
    width:9vh;
    height: 9vh;
    font-weight:bold;
    font-size: 3vh;
    color: white;
    background-color: #bbaf86;
    border-radius: 50%;
    border: 1px solid #333333;
}

#backspace_btn {
    background-image: url("../assets/back_remove.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1.7em;
}

button:hover {
    background-color: #9e9571;
}

.operator {
    background-color: #876445;
}

.operator:hover {
    background-color: #d0bf86;
}

#equal_sign {
    width: 100%;
    border-radius: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a69957;
    text-align: center;
    font-weight: auto;
}
